<div class="container">
    <h2>Create new poll</h2>

    <div *ngIf="isAuthenticated; else notAuthenticated">
      <form (ngSubmit)="createPoll()">
        <div class="form-group">
          <label for="question">Poll Question</label>
          <input type="text" id="question" name="question" [(ngModel)]="poll.question" class="input-field" required />
        </div>
        <div class="form-group">
          <label for="privacy">Privacy</label>
          <select id="privacy" name="privacy" [(ngModel)]="poll.pollPrivacy" class="input-field">
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
          </select>
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="poll.startTime" class="input-field" />
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="poll.endTime" class="input-field" />
        </div>
        <button type="submit" class="publish-button">Publish new poll</button>
        <div class="error-message" *ngIf="error">
          {{ error }}
        </div>
      </form>
    </div>

    <ng-template #notAuthenticated>
            <!-- Content for non-authenticated users -->
      <p>You have to be logged in to create a poll.</p>
      <a class="login-button" routerLink="/login">Login</a>
      <a class="go-back-button" routerLink="/overview">Back</a>
      <p>Don't have an account yet? Register now!</p>
      <a class="go-back-button" routerLink="/register">Register new user</a>
      </ng-template>
  </div>