<div class="container">
    <h1>My Polls</h1>
    <button (click)="navigateToOverview()">Back to main page</button>
    <ul>
      <li *ngFor="let poll of userPolls">
        <div class="poll-item">
          <p><strong>Question:</strong> {{ poll.question }}</p>
          <p><strong>Poll ID:</strong> {{ poll.id }}</p>
          <p>
            <button (click)="openConfirmationDialog(poll.id)">Delete</button>
          </p>
        </div>
      </li>
    </ul>
    <p *ngIf="noPolls">It looks like you haven't made any polls yet. Create your first poll!</p>
  </div>

<!-- Confirmation Dialog (Hidden by default) -->
<div *ngIf="isConfirmationDialogOpen" class="confirmation-dialog">
  <h1>Confirmation</h1>
  <p>{{ confirmationMessage }}</p>
  <button (click)="onNoClick()">No, go back</button>
  <button class="warn" (click)="onYesClick()">Yes, delete</button>
</div>