<div class="container">
  <a class="go-back-button" routerLink="/overview">Back</a>
  <h1>{{ question }}</h1>
  <p>Poll ID: {{ pollId }}</p>
  <button (click)="vote(pollId, true)">Yes</button>
  <button (click)="vote(pollId, false)">No</button>
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>

<div class="vote-message" *ngIf="showVoteMessage">Thanks for your vote!</div>
<div>
  <!-- Conditionally render the message if the user has voted -->
  <p *ngIf="hasVoted">You have already voted in this poll.</p>
  
  <!-- Conditionally render the button if the user has voted -->
  <button *ngIf="hasVoted" (click)="seeResults(pollId)">See Results</button>
</div>