<header>Polls</header>
<button (click)="navigateToLogin()">Return to login</button>
<button (click)="logout()">Logout</button>


<div *ngIf="isAdmin">
  <!-- Render admin-specific functionality here -->
  <button (click)="adminFunctionality()">Admin Functionality</button>
</div>


<div *ngIf="!isAuthenticated">
  <p>You are not logged in</p>
</div>
<div *ngIf="isAuthenticated">
  <p>You are logged in as: "{{this.username}}" </p>
</div>
<div id="search-bar">
  <input type="text" placeholder="Search for Poll ID:" [(ngModel)]="id">
  <button (click)="searchPollsById(id)">Search</button>
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div id="poll-url-search">
    <input type="text" placeholder="Enter Poll URL:" [(ngModel)]="pollUrl">
    <button (click)="searchPollsByURL(pollUrl)">Search</button>
  </div>
</div>


<div id="poll-container">
  <!-- Loop through polls and display them dynamically -->
  <div class="poll-box" *ngFor="let poll of polls">
    <div class="poll-privacy">
      {{ poll.pollPrivacy === 'PUBLIC' ? 'Public' : 'Private' }}
    </div>
    <div class="poll-header">
      <!-- Use the isPollOpen function to check if the poll is open -->
      <ng-container *ngIf="isPollActive(poll); else resultsButton">
        <button (click)="navigateToVote(poll.id)">Vote</button>
      </ng-container>
      <ng-template #resultsButton>
        <button (click)="navigateToResults(poll.id)">View Results</button>
      </ng-template>
    </div>
    <h2 class="poll-question">{{ poll.question }}</h2>
    <div class="poll-content">
      <!-- Check if the poll is open to display the end time -->
      <ng-container *ngIf="isPollActive(poll); else closedPoll">
        Open until: {{ poll.endTime | date: 'dd.MM.yyyy - HH:mm'}}
      </ng-container>
      <ng-template #closedPoll>
        This poll is closed
      </ng-template>
    </div>
    <div class="poll-footer">
      <div class="poll-id">Poll ID: {{ poll.id }}</div>
    </div>
  </div>
</div>

<a class="my-profile-button" routerLink="/myPolls">My Profile</a>
<a class="create-poll-button" routerLink="/createPoll">Create New Poll</a>