<div class="container">
    <h1>Poll Overview</h1>
    <ul>
      <li *ngFor="let poll of polls">
        <h3>{{ poll.question }}</h3>
        <button (click)="navigateToVote(poll.question)">Vote</button>
        <button (click)="navigateToResults(poll.question)">See Results</button>
      </li>
    </ul>
  </div>




<!DOCTYPE html>
<html>
<head></head>
<body>
    <header>Polls</header>
    <div id="search-bar">
        <input type="text" placeholder="Search for poll ID">
    </div>
    <div id="poll-container">
        <!-- Poll 1 -->
        <div class="poll-box">
            <div class="poll-header">Vote</div>
            <div class="poll-content">
                Open until:
                <br>
                Day of the week, Month Date
            </div>
            <div class="poll-footer">
                <div class="poll-id">Poll ID: xyz</div>
            </div>
        </div>
        <!-- Poll 2 -->
        <div class="poll-box">
            <div class="poll-header">See results</div>
            <div class="poll-footer">
                <div class="poll-id">Poll ID: xyz</div>
            </div>
        </div>
        <!-- Add two more polls with similar structures -->
    </div>
    <a class="my-profile-button" href="/myPolls">My Profile</a>
    <a class="create-poll-button" href="/createPoll">Create New Poll</a>
</body>
</html>