<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="logo">
        <img height="400" src="../../../assets/Logo-new.png">
    </div>

    <div class="header">
        <h1> Welcome to</h1>
        <h1 class="app-name">FeedApp</h1>
    </div>

    <div class="container">
        <div class="register-form">
            <h2>Register</h2>
            <form (ngSubmit)="register()">

                <div class="form-group">
                    <label for="username" class="left-label"><i class="fa fa-user"> Username</i></label>
                    <input type="text" id="username" name="username" [(ngModel)]="registrationForm.username"
                        placeholder="Enter Username" class="input-field" required />
                </div>

                <div class="form-group">
                    <label for="password" class="left-label"><i class="fa fa-lock"> Password</i></label>
                    <input type="password" id="password" name="password" [(ngModel)]="registrationForm.password"
                        placeholder="Enter Password" class="input-field" required />
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="left-label"><i class="fa fa-lock"> Repeat Password</i></label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="registrationForm.confirmPassword" placeholder="Repeat Password" class="input-field"
                        required />
                </div>

                <button type="submit" class="register-button">Sign Up</button>
            </form>

            <div class="error-message" *ngIf="error">
                {{ error }}
            </div>

            <p class="login-text">Already have an account?
                <button class="login-button" routerLink="/login">Login</button>
            </p>
            <p class="vote-text">Just here to Vote?
                <button class="vote-button" routerLink="/overview">Go to Polls</button>
            </p>
        </div>
    </div>

    <div class="footer">
        <img height="110" src="../../../assets/Logo-new.png">
    </div>
</body>

</html>